-- SQL script
CREATE DEFINER=`root`@`localhost` FUNCTION `martdb`.`fnGetNextInvoiceNo`() RETURNS varchar(50) CHARSET utf8mb4
    READS SQL DATA
BEGIN
    DECLARE v_LastInvoiceNo VARCHAR(50);
    DECLARE v_NextNumber INT;
    DECLARE v_NextInvoiceNo VARCHAR(50);
    DECLARE v_Prefix VARCHAR(10) DEFAULT 'PINV-';
    DECLARE v_Length INT DEFAULT 4;

    SELECT InvoiceNo INTO v_LastInvoiceNo
    FROM TBLPurchase
    WHERE InvoiceNo IS NOT NULL
    ORDER BY PurchaseID DESC
    LIMIT 1;

    IF v_LastInvoiceNo IS NULL THEN
        SET v_NextNumber = 1;
    ELSE
        SET v_LastInvoiceNo = TRIM(v_LastInvoiceNo);
        SET v_NextNumber = CAST(SUBSTRING_INDEX(v_LastInvoiceNo, '-', -1) AS UNSIGNED) + 1;
    END IF;

    SET v_NextInvoiceNo = CONCAT(v_Prefix, LPAD(v_NextNumber, v_Length, '0'));

    RETURN v_NextInvoiceNo;
END