CREATE FUNCTION fnGetProductStock(p_ProductID INT)
RETURNS DECIMAL(18, 2)
READS SQL DATA
BEGIN
    DECLARE stock_qty DECIMAL(18, 2);
    
    -- Calculate the net stock from the ledger
    SELECT
        SUM(sl.QtyIn) - SUM(sl.QtyOut) INTO stock_qty
    FROM
        martdb.tblstockledger sl
    WHERE
        sl.ProductID = p_ProductID;

    -- Return 0.00 if the product has no ledger entries (NULL)
    RETURN IFNULL(stock_qty, 0.00);
END;