create
    definer = root@localhost procedure SP_Get(IN p_Id int, IN p_OtherId int, IN p_Search varchar(200),
                                              IN p_OtherData varchar(200), IN p_SearchType varchar(50), IN p_UserID int,
                                              IN p_DateTime datetime)
BEGIN
    -- SearchType: Business
    IF p_SearchType = 'Business' THEN
        SELECT * FROM TBLBusiness WHERE IsActive = 1;

        -- SearchType: CompanyDropDown
    ELSEIF p_SearchType = 'CompanyDropDown' THEN  -- <-- Corrected
        SELECT * FROM tblcompanies WHERE IsActive = 1;

        -- SearchType: CategoryDropDown
    ELSEIF p_SearchType = 'CategoryDropDown' THEN  -- <-- Corrected
        SELECT * FROM tblcategories WHERE IsActive = 1;

        -- SearchType: PackingTypeDropDown
    ELSEIF p_SearchType = 'PackingTypeDropDown' THEN  -- <-- Corrected
        SELECT * FROM TBLPackingType WHERE IsActive = 1;

        -- SearchType: BrandDropDown
    ELSEIF p_SearchType = 'BrandDropDown' THEN  -- <-- Corrected
    -- Note: TBLBrands is plural based on BrandDao
        SELECT * FROM TBLBrands WHERE IsActive = 1 AND CompanyID = p_Id;

        -- SearchType: ProductDropDown
    ELSEIF p_SearchType = 'ProductDropDown' THEN  -- <-- Corrected
        SELECT TBLProducts.*, TBLPackingType.CartonQty
        FROM TBLProducts
                 LEFT JOIN TBLPackingType ON TBLPackingType.PackingTypeID = TBLProducts.PackingTypeID
        WHERE TBLProducts.IsActive = 1;

        -- SearchType: CustomerDropDown
    ELSEIF p_SearchType = 'CustomerDropDown' THEN  -- <-- Corrected
        SELECT * FROM TBLCustomers;

        -- SearchType: VendorDropDown
    ELSEIF p_SearchType = 'VendorDropDown' THEN  -- <-- Corrected
        SELECT * FROM tblsuppliers;

        -- SearchType: Sale (Single Record)
    ELSEIF p_SearchType = 'Sale' THEN  -- <-- Corrected
        SELECT
            s.*,
            c.CustomerName
        FROM TBLSale s
                 LEFT JOIN TBLCustomers c ON s.CustomerID = c.CustomerID
        WHERE s.SaleID = p_Id;

        -- SearchType: SaleLine (Details)
    ELSEIF p_SearchType = 'SaleLine' THEN  -- <-- Corrected
        SELECT
            sd.*,
            p.ProductName,
            pt.PackingTypeName
        FROM TBLSaleDetail sd
                 INNER JOIN TBLProducts p ON sd.ProductID = p.ProductID
                 LEFT JOIN TBLPackingType pt ON p.PackingTypeID = pt.PackingTypeID
        WHERE sd.SaleID = p_Id;

        -- SearchType: SaleList (For Table Panel with Pagination)
    ELSEIF p_SearchType = 'SaleList' THEN  -- <-- Corrected
        SELECT
            s.SaleID,
            s.InvoiceNo,
            c.CustomerName,
            s.SaleDate,
            s.TotalAmount,
            s.ReceivedAmount,
            (s.TotalAmount - s.ReceivedAmount) AS Balance
        FROM TBLSale s
                 LEFT JOIN TBLCustomers c ON s.CustomerID = c.CustomerID
        ORDER BY s.SaleID DESC
        LIMIT p_Id, p_OtherId;

        -- SearchType: Purchase
    ELSEIF p_SearchType = 'Purchase' THEN  -- <-- Corrected
        SELECT * FROM TBLPurchase WHERE PurchaseID = p_Id;

        -- SearchType: PurchaseLine
    ELSEIF p_SearchType = 'PurchaseLine' THEN  -- <-- Corrected
        SELECT
            pd.*,
            p.ProductName
        FROM TBLPurchaseDetail pd
                 INNER JOIN TBLProducts p ON pd.ProductID = p.ProductID
        WHERE pd.PurchaseID = p_Id;

    END IF;
END;

