-- SQL script
create
    definer = root@localhost procedure SP_GetList(IN p_Id int, IN p_DisplayLength int, IN p_DisplayStart int,
                                                  IN p_Search varchar(100), IN p_ListBy varchar(50), IN p_UserID int,
                                                  IN p_DateTime datetime)
BEGIN

    -- Company List
    IF p_ListBy = 'CompanyList' THEN
        SELECT
            (SELECT COUNT(*) FROM tblcompanies
             WHERE (p_Search IS NULL OR CompanyName LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            C.*,
            IF(C.IsActive = 1, 'Active', 'Inactive') AS StatusText
        FROM tblcompanies C
        WHERE (p_Search IS NULL OR C.CompanyName LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Category List
    ELSEIF p_ListBy = 'CategoryList' THEN
        SELECT
            (SELECT COUNT(*) FROM tblcategories
             WHERE (p_Search IS NULL OR C.CategoryName LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            C.*,
            IF(C.IsActive = 1, 'Active', 'Inactive') AS StatusText
        FROM tblcategories C
        WHERE (p_Search IS NULL OR C.CategoryName LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Packing Type List
    ELSEIF p_ListBy = 'PackingTypeList' THEN
        SELECT
            (SELECT COUNT(*) FROM TBLPackingType
             WHERE (p_Search IS NULL OR tblpackingtype.PackingTypeName LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            PT.*,
            IF(PT.IsActive = 1, 'Active', 'Inactive') AS StatusText
        FROM TBLPackingType PT
        WHERE (p_Search IS NULL OR PT.PackingTypeName LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Brand List
    ELSEIF p_ListBy = 'BrandList' THEN
        SELECT
            (SELECT COUNT(*) FROM TBLBrands
             WHERE (p_Search IS NULL OR tblbrands.BrandTitle LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            B.*,
            IF(B.IsActive = 1, 'Active', 'Inactive') AS StatusText,
            C.CompanyName
        FROM TBLBrands B
                 INNER JOIN tblcompanies C ON B.CompanyID = C.CompanyID
        WHERE (p_Search IS NULL OR B.BrandTitle LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Product List
    ELSEIF p_ListBy = 'ProductList' THEN
        SELECT
            (SELECT COUNT(*) FROM TBLProducts
             WHERE (p_Search IS NULL OR ProductName LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            P.*,
            IF(P.IsActive = 1, 'Active', 'Inactive') AS StatusText,
            C.CompanyName,
            CA.CategoryName,
            PK.PackingTypeName,
            B.BrandTitle
        FROM TBLProducts P
                 LEFT JOIN tblcompanies C ON P.CompanyID = C.CompanyID
                 LEFT JOIN tblcategories CA ON P.CategoryID = CA.CategoryID
                 LEFT JOIN TBLPackingType PK ON P.PackingTypeID = PK.PackingTypeID
                 LEFT JOIN TBLBrands B ON P.BrandID = B.BrandID
        WHERE (p_Search IS NULL OR P.ProductName LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Vendor List
    ELSEIF p_ListBy = 'VendorList' THEN
        SELECT
            (SELECT COUNT(*) FROM tblsuppliers
             WHERE (p_Search IS NULL OR V.SupplierName LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            V.*
        FROM tblsuppliers V
        WHERE (p_Search IS NULL OR V.SupplierName LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Customer List
    ELSEIF p_ListBy = 'CustomerList' THEN
        SELECT
            (SELECT COUNT(*) FROM TBLCustomers
             WHERE (p_Search IS NULL OR CustomerName LIKE CONCAT('%', p_Search, '%'))) AS TotalCount,
            C.*
        FROM TBLCustomers C
        WHERE (p_Search IS NULL OR C.CustomerName LIKE CONCAT('%', p_Search, '%'))
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Sale List
    ELSEIF p_ListBy = 'SaleList' THEN
        SELECT
            (SELECT COUNT(*) FROM TBLSale) AS TotalCount,
            S.*, C.CustomerName
        FROM TBLSale S
                 LEFT JOIN TBLCustomers C ON S.CustomerID = C.CustomerID
        LIMIT p_DisplayStart, p_DisplayLength;

        -- Purchase List
    ELSEIF p_ListBy = 'PurchaseList' THEN
        SELECT
            (SELECT COUNT(*) FROM TBLPurchase) AS TotalCount,
            P.*, V.SupplierName
        FROM TBLPurchase P
                 LEFT JOIN tblsuppliers V ON P.SupplierID = V.SupplierID
        LIMIT p_DisplayStart, p_DisplayLength;

    END IF;

END;

