-- SQL script
create
    definer = root@localhost procedure SP_GetSuppliers(IN p_limit int, IN p_offset int)
BEGIN
    SELECT
        SupplierID,
        SupplierName,
        ContactNo,
        Address,
        Email,
        OpeningBalance,
        CreatedDate
    FROM
        TBLSuppliers
    ORDER BY
        SupplierID
    LIMIT p_limit OFFSET p_offset;
END;

