-- SQL script
create
    definer = root@localhost procedure SP_IUD_Company(IN p_CompanyID int, IN p_CompanyName varchar(200),
                                                      IN p_IsActive bit, IN p_UserID int, IN p_DateTime datetime,
                                                      IN p_Status varchar(50))
BEGIN
    DECLARE v_ReturnID INT;
    DECLARE v_Check INT;

    -- INSERT
    IF p_Status = 'Save' THEN
        SELECT COUNT(*) INTO v_Check
        FROM tblcompanies
        WHERE CompanyName = p_CompanyName;

        IF v_Check > 0 THEN
            SET v_ReturnID = -3;   -- Duplicate
        ELSE
            INSERT INTO tblcompanies (CompanyName, IsActive, CreatedDate, CreatedBy)
            VALUES (p_CompanyName, p_IsActive, p_DateTime, p_UserID);

            SET v_ReturnID = LAST_INSERT_ID();
        END IF;

        -- UPDATE
    ELSEIF p_Status = 'Update' THEN
        SELECT COUNT(*) INTO v_Check
        FROM tblcompanies
        WHERE CompanyName = p_CompanyName AND CompanyID <> p_CompanyID;

        IF v_Check > 0 THEN
            SET v_ReturnID = -3;   -- Duplicate
        ELSE
            UPDATE tblcompanies
            SET CompanyName = p_CompanyName,
                IsActive = p_IsActive,
                UpdatedDate = p_DateTime,
                UpdatedBy = p_UserID
            WHERE CompanyID = p_CompanyID;

            SET v_ReturnID = -1;  -- Updated
        END IF;

        -- DELETE
    ELSEIF p_Status = 'Delete' THEN
        SELECT COUNT(*) INTO v_Check
        FROM tblcompanies
        WHERE CompanyID = p_CompanyID;

        IF v_Check > 0 THEN
            DELETE FROM tblcompanies WHERE CompanyID = p_CompanyID;
            SET v_ReturnID = -2;  -- Deleted
        ELSE
            SET v_ReturnID = -4;  -- Not found
        END IF;

    END IF;

    SELECT v_ReturnID AS Result;
END;

