-- SQL script
create
    definer = root@localhost procedure SP_IUD_Vendor(IN p_SupplierId int, IN p_SupplierName varchar(200),
                                                     IN p_ContactNo varchar(50), IN p_Address varchar(500),
                                                     IN p_Email varchar(200), IN p_OpeningBalance decimal(18, 2),
                                                     IN p_UserID int, IN p_DateTime datetime, IN p_Status varchar(50))
BEGIN
    DECLARE v_ReturnID INT;
    DECLARE v_Check INT;

    -- INSERT
    IF p_Status = 'Save' THEN
        SELECT COUNT(*) INTO v_Check
        FROM tblSuppliers
        WHERE SupplierName = p_SupplierName;

        IF v_Check > 0 THEN
            SET v_ReturnID = -3; -- Duplicate
        ELSE
            INSERT INTO tblSuppliers (SupplierName, ContactNo, Address, Email, OpeningBalance, CreatedDate, CreatedBy)
            VALUES (p_SupplierName, p_ContactNo, p_Address, p_Email, p_OpeningBalance, p_DateTime, p_UserID);

            SET v_ReturnID = LAST_INSERT_ID();
        END IF;

        -- UPDATE
    ELSEIF p_Status = 'Update' THEN
        SELECT COUNT(*) INTO v_Check
        FROM tblSuppliers
        WHERE SupplierName = p_SupplierName AND SupplierId <> p_SupplierId;

        IF v_Check > 0 THEN
            SET v_ReturnID = -3; -- Duplicate
        ELSE
            UPDATE tblSuppliers
            SET SupplierName = p_SupplierName,
                ContactNo = p_ContactNo,
                Address = p_Address,
                Email = p_Email,
                OpeningBalance = p_OpeningBalance,
                UpdatedDate = p_DateTime,
                UpdatedBy = p_UserID
            WHERE SupplierId = p_SupplierId;

            SET v_ReturnID = -1; -- Updated
        END IF;

        -- DELETE
    ELSEIF p_Status = 'Delete' THEN
        SELECT COUNT(*) INTO v_Check
        FROM tblSuppliers
        WHERE SupplierId = p_SupplierId;

        IF v_Check > 0 THEN
            DELETE FROM tblsuppliers WHERE SupplierId = p_SupplierId;
            SET v_ReturnID = -2; -- Deleted
        ELSE
            SET v_ReturnID = -4; -- Not found
        END IF;
    END IF;

    SELECT v_ReturnID AS Result;
END;

