-- SQL script
create
    definer = root@localhost procedure SP_IUD_Purchase(INOUT p_PurchaseID int, IN p_SupplierID int,
                                                       IN p_PurchaseDate datetime, INOUT p_InvoiceNo varchar(50),
                                                       IN p_ActualAmount decimal(18, 2), IN p_DiscountType varchar(50),
                                                       IN p_Discount decimal(18, 2), IN p_TotalAmount decimal(18, 2),
                                                       IN p_PaidAmount decimal(18, 2), IN p_Remarks varchar(255),
                                                       IN p_DateTime datetime, IN p_UserID int, IN p_Status varchar(50),
                                                       IN p_DetailsJson longtext, OUT p_CheckReturn int)
BEGIN
    DECLARE v_NetChange DECIMAL(18,2);

    -- Variables for JSON loop (for inserting details)
    DECLARE i INT DEFAULT 0;
    DECLARE v_json_length INT;
    DECLARE v_product_id INT;
    DECLARE v_quantity DECIMAL(18, 2);
    DECLARE v_rate DECIMAL(18, 2);
    DECLARE v_total DECIMAL(18, 2);
    DECLARE v_detail_id INT;

    -- Variables for Reversal (Update/Delete)
    DECLARE v_OldTotalAmount DECIMAL(18,2);
    DECLARE v_OldPaidAmount DECIMAL(18,2);
    DECLARE v_OldSupplierID INT;
    DECLARE v_OldNetChange DECIMAL(18,2);
    DECLARE v_CheckId INT;

    -- Function fnGetNextPurchaseInvoiceNo() is assumed to exist from previous response

    SET p_CheckReturn = 0;

    -- Check if PurchaseID exists for Update/Delete
    IF (p_Status = 'Update' OR p_Status = 'Delete') THEN
        SELECT COUNT(*) INTO v_CheckId FROM TBLPurchase WHERE PurchaseID = p_PurchaseID;
        IF v_CheckId = 0 THEN
            SET p_CheckReturn = -4; -- Not Found
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error: Purchase record not found for Update/Delete.';
        END IF;
    END IF;

    START TRANSACTION;

    -- ===========================================
    -- 🔄 REVERSAL LOGIC (Used by Update and Delete)
    -- ===========================================
    IF p_Status = 'Update' OR p_Status = 'Delete' THEN

        -- Get old amounts and supplier ID
        SELECT TotalAmount, PaidAmount, SupplierID
        INTO v_OldTotalAmount, v_OldPaidAmount, v_OldSupplierID
        FROM TBLPurchase WHERE PurchaseID = p_PurchaseID;

        -- 1. Reverse Supplier Balance Change
        -- The amount to reverse is the old outstanding balance
        SET v_OldNetChange = v_OldTotalAmount - v_OldPaidAmount;
        UPDATE TBLSuppliers
        SET OpeningBalance = OpeningBalance - v_OldNetChange
        WHERE SupplierID = v_OldSupplierID;

        -- 2. Reverse Stock Ledger Entries (by deletion)
        DELETE FROM TBLStockLedger
        WHERE RefID = p_PurchaseID AND RefType = 'PURCHASE';

        -- 3. Delete old Purchase Details
        DELETE FROM TBLPurchaseDetail
        WHERE PurchaseID = p_PurchaseID;

    END IF;
    -- ===========================================

    -- ===========================================
    -- ✅ SAVE (INSERT)
    -- ===========================================
    IF p_Status = 'Save' THEN

        -- 1. Invoice Generation (Assumes fnGetNextPurchaseInvoiceNo exists)
        SET p_InvoiceNo = fnGetNextInvoiceNo();

        -- 2. Insert Purchase Header
        INSERT INTO TBLPurchase (SupplierID, PurchaseDate, InvoiceNo, ActualAmount, DiscountType, Discount, TotalAmount, PaidAmount, Remarks, CreatedDate, CreatedBy)
        VALUES (p_SupplierID, p_PurchaseDate, p_InvoiceNo, p_ActualAmount, p_DiscountType, p_Discount, p_TotalAmount, p_PaidAmount, p_Remarks, p_DateTime, p_UserID);

        SET p_PurchaseID = LAST_INSERT_ID();

        -- 3. Update Supplier Balance (New Change)
        SET v_NetChange = p_TotalAmount - p_PaidAmount;
        UPDATE TBLSuppliers SET OpeningBalance = OpeningBalance + v_NetChange WHERE SupplierID = p_SupplierID;

        -- 4. Insert Purchase Details and Stock Ledger (JSON Parsing)
        -- The detail insertion logic is duplicated here for simplicity and single-file mandate.
        IF p_DetailsJson IS NOT NULL THEN
            SET v_json_length = JSON_LENGTH(p_DetailsJson);
            IF v_json_length = 0 THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error: Purchase details list cannot be empty.'; END IF;

            WHILE i < v_json_length DO
                    SET v_product_id = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].productID')));
                    SET v_quantity = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].quantity')));
                    SET v_rate = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].rate')));
                    SET v_total = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].total')));

                    INSERT INTO TBLPurchaseDetail (PurchaseID, ProductID, Quantity, Rate, Total)
                    VALUES (p_PurchaseID, v_product_id, v_quantity, v_rate, v_total);

                    SET v_detail_id = LAST_INSERT_ID();

                    INSERT INTO TBLStockLedger (ProductID, RefType, RefID, RefDetailID, QtyIn, Rate)
                    VALUES (v_product_id, 'PURCHASE', p_PurchaseID, v_detail_id, v_quantity, v_rate);

                    SET i = i + 1;
                END WHILE;
        END IF;

        SET p_CheckReturn = p_PurchaseID; -- Return new Purchase ID

    -- ===========================================
    -- 🔄 UPDATE
    -- ===========================================
    ELSEIF p_Status = 'Update' THEN

        -- Note: Reversal of old stock and balance has already occurred above.

        -- 1. Update Purchase Header (InvoiceNo remains unchanged as passed by Java)
        UPDATE TBLPurchase
        SET
            SupplierID = p_SupplierID,
            PurchaseDate = p_PurchaseDate,
            ActualAmount = p_ActualAmount,
            DiscountType = p_DiscountType,
            Discount = p_Discount,
            TotalAmount = p_TotalAmount,
            PaidAmount = p_PaidAmount,
            Remarks = p_Remarks,
            UpdatedDate = p_DateTime,
            UpdatedBy = p_UserID
        WHERE PurchaseID = p_PurchaseID;

        -- 2. Update Supplier Balance (Apply NEW Net Change)
        SET v_NetChange = p_TotalAmount - p_PaidAmount;
        UPDATE TBLSuppliers SET OpeningBalance = OpeningBalance + v_NetChange WHERE SupplierID = p_SupplierID;

        -- 3. Insert NEW Purchase Details and Stock Ledger (JSON Parsing)
        -- The detail insertion logic is duplicated here for simplicity and single-file mandate.
        SET i = 0; -- Reset loop counter
        IF p_DetailsJson IS NOT NULL THEN
            SET v_json_length = JSON_LENGTH(p_DetailsJson);
            IF v_json_length = 0 THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error: Purchase details list cannot be empty during Update.'; END IF;

            WHILE i < v_json_length DO
                    SET v_product_id = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].productID')));
                    SET v_quantity = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].quantity')));
                    SET v_rate = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].rate')));
                    SET v_total = JSON_UNQUOTE(JSON_EXTRACT(p_DetailsJson, CONCAT('$[', i, '].total')));

                    INSERT INTO TBLPurchaseDetail (PurchaseID, ProductID, Quantity, Rate, Total)
                    VALUES (p_PurchaseID, v_product_id, v_quantity, v_rate, v_total);

                    SET v_detail_id = LAST_INSERT_ID();

                    INSERT INTO TBLStockLedger (ProductID, RefType, RefID, RefDetailID, QtyIn, Rate)
                    VALUES (v_product_id, 'PURCHASE', p_PurchaseID, v_detail_id, v_quantity, v_rate);

                    SET i = i + 1;
                END WHILE;
        END IF;

        SET p_CheckReturn = -1; -- Updated Successfully

    -- ===========================================
    -- ❌ DELETE
    -- ===========================================
    ELSEIF p_Status = 'Delete' THEN

        -- Reversal, detail, and stock deletion already happened in the REVERSAL block.

        -- 1. Delete Purchase Header
        DELETE FROM TBLPurchase WHERE PurchaseID = p_PurchaseID;

        SET p_CheckReturn = -2; -- Deleted Successfully

    END IF;
    -- ===========================================

    -- Final Check and Transaction Management
    IF p_CheckReturn > 0 OR p_CheckReturn IN (-1, -2) THEN
        COMMIT;
    ELSE
        ROLLBACK;
    END IF;

END;

