-- SQL script
create
    definer = root@localhost procedure SP_IUD_Category(IN p_CategoryID int, IN p_CategoryName varchar(200),
                                                       IN p_IsActive bit, IN p_UserID int, IN p_DateTime datetime,
                                                       IN p_Status varchar(50))
BEGIN
    DECLARE v_Return INT;
    DECLARE v_Check INT;

    -- SAVE
    IF p_Status = 'Save' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLCategories
        WHERE CategoryName = p_CategoryName;

        IF v_Check > 0 THEN
            SET v_Return = -3; -- Duplicate
        ELSE
            INSERT INTO TBLCategories (CategoryName, IsActive, CreatedDate, CreatedBy)
            VALUES (p_CategoryName, p_IsActive, p_DateTime, p_UserID);

            SET v_Return = LAST_INSERT_ID();
        END IF;

        -- UPDATE
    ELSEIF p_Status = 'Update' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLCategories
        WHERE CategoryName = p_CategoryName AND CategoryID <> p_CategoryID;

        IF v_Check > 0 THEN
            SET v_Return = -3;
        ELSE
            UPDATE TBLCategories
            SET CategoryName = p_CategoryName,
                IsActive = p_IsActive,
                UpdatedDate = p_DateTime,
                UpdatedBy = p_UserID
            WHERE CategoryID = p_CategoryID;

            SET v_Return = -1;  -- Updated
        END IF;

        -- DELETE
    ELSEIF p_Status = 'Delete' THEN
        DELETE FROM TBLCategories WHERE CategoryID = p_CategoryID;
        SET v_Return = -2;

    END IF;

    SELECT v_Return AS Result;
END;

