-- SQL script
create
    definer = root@localhost procedure SP_IUD_Customer(IN p_CustomerID int, IN p_CustomerName varchar(200),
                                                       IN p_ContactNo varchar(50), IN p_Email varchar(200),
                                                       IN p_Address varchar(300), IN p_City varchar(100),
                                                       IN p_IsActive bit, IN p_UserID int, IN p_DateTime datetime,
                                                       IN p_Status varchar(50))
BEGIN
    DECLARE v_Return INT;
    DECLARE v_Check INT;

    -- SAVE
    IF p_Status = 'Save' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLCustomers
        WHERE CustomerName = p_CustomerName;

        IF v_Check > 0 THEN
            SET v_Return = -3;   -- Duplicate
        ELSE
            INSERT INTO TBLCustomers
            (CustomerName, ContactNo, Email, Address, City, IsActive, CreatedDate, CreatedBy)
            VALUES
                (p_CustomerName, p_ContactNo, p_Email, p_Address, p_City, p_IsActive, p_DateTime, p_UserID);

            SET v_Return = LAST_INSERT_ID();
        END IF;

        -- UPDATE
    ELSEIF p_Status = 'Update' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLCustomers
        WHERE CustomerName = p_CustomerName AND CustomerID <> p_CustomerID;

        IF v_Check > 0 THEN
            SET v_Return = -3;   -- Duplicate
        ELSE
            UPDATE TBLCustomers
            SET CustomerName = p_CustomerName,
                ContactNo = p_ContactNo,
                Email = p_Email,
                Address = p_Address,
                City = p_City,
                IsActive = p_IsActive,
                UpdatedDate = p_DateTime,
                UpdatedBy = p_UserID
            WHERE CustomerID = p_CustomerID;

            SET v_Return = -1;   -- Updated
        END IF;

        -- DELETE
    ELSEIF p_Status = 'Delete' THEN
        DELETE FROM TBLCustomers WHERE CustomerID = p_CustomerID;
        SET v_Return = -2;        -- Deleted

    END IF;

    SELECT v_Return AS Result;
END;

