-- SQL script
create
    definer = root@localhost procedure SP_IUD_PackingType(IN p_PackingTypeID int, IN p_PackingTypeTitle varchar(200),
                                                          IN p_CartonQty int, IN p_IsActive bit, IN p_UserID int,
                                                          IN p_DateTime datetime, IN p_Status varchar(50))
BEGIN
    DECLARE v_Return INT;
    DECLARE v_Check INT;

    -- SAVE
    IF p_Status = 'Save' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLPackingType
        WHERE packingTypeName = p_PackingTypeTitle;

        IF v_Check > 0 THEN
            SET v_Return = -3; -- Duplicate name
        ELSE
            INSERT INTO TBLPackingType (packingTypeName, CartonQty, IsActive, CreatedDate, CreatedBy)
            VALUES (p_PackingTypeTitle, p_CartonQty, p_IsActive, p_DateTime, p_UserID);

            SET v_Return = LAST_INSERT_ID();
        END IF;

        -- UPDATE
    ELSEIF p_Status = 'Update' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLPackingType
        WHERE packingTypeName = p_PackingTypeTitle
          AND PackingTypeID <> p_PackingTypeID;

        IF v_Check > 0 THEN
            SET v_Return = -3; -- Duplicate
        ELSE
            UPDATE TBLPackingType
            SET packingTypeName = p_PackingTypeTitle,
                CartonQty = p_CartonQty,
                IsActive = p_IsActive,
                UpdatedDate = p_DateTime,
                UpdatedBy = p_UserID
            WHERE PackingTypeID = p_PackingTypeID;

            SET v_Return = -1; -- Updated
        END IF;

        -- DELETE
    ELSEIF p_Status = 'Delete' THEN
        DELETE FROM TBLPackingType WHERE PackingTypeID = p_PackingTypeID;
        SET v_Return = -2; -- Deleted
    END IF;

    SELECT v_Return AS Result;
END;

