-- SQL script
create
    definer = root@localhost procedure SP_IUD_Brand(IN p_BrandID int, IN p_BrandTitle varchar(200), IN p_CompanyID int,
                                                    IN p_IsActive bit, IN p_UserID int, IN p_DateTime datetime,
                                                    IN p_Status varchar(50))
BEGIN
    DECLARE v_Return INT;
    DECLARE v_Check INT;

    -- INSERT
    IF p_Status = 'Save' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLBrands
        WHERE BrandTitle = p_BrandTitle AND CompanyID = p_CompanyID;

        IF v_Check > 0 THEN
            SET v_Return = -3; -- Duplicate
        ELSE
            INSERT INTO TBLBrands(BrandTitle, CompanyID, IsActive, CreatedDate, CreatedBy)
            VALUES (p_BrandTitle, p_CompanyID, p_IsActive, p_DateTime, p_UserID);

            SET v_Return = LAST_INSERT_ID();
        END IF;

        -- UPDATE
    ELSEIF p_Status = 'Update' THEN
        SELECT COUNT(*) INTO v_Check
        FROM TBLBrands
        WHERE BrandTitle = p_BrandTitle
          AND CompanyID = p_CompanyID
          AND BrandID <> p_BrandID;

        IF v_Check > 0 THEN
            SET v_Return = -3; -- Duplicate
        ELSE
            UPDATE TBLBrands
            SET BrandTitle = p_BrandTitle,
                CompanyID = p_CompanyID,
                IsActive = p_IsActive,
                UpdatedDate = p_DateTime,
                UpdatedBy = p_UserID
            WHERE BrandID = p_BrandID;

            SET v_Return = -1; -- Updated
        END IF;

        -- DELETE
    ELSEIF p_Status = 'Delete' THEN
        DELETE FROM TBLBrands WHERE BrandID = p_BrandID;
        SET v_Return = -2;
    END IF;

    SELECT v_Return AS Result;
END;

