-- SQL script
create
    definer = root@localhost procedure SP_IUD_Product(IN p_ProductID int, IN p_ProductCode varchar(50),
                                                      IN p_ProductName varchar(200), IN p_CompanyID int,
                                                      IN p_CategoryID int, IN p_PackingTypeID int, IN p_BrandID int,
                                                      IN p_ReorderLevel int, IN p_IsActive tinyint(1), IN p_UserID int,
                                                      IN p_DateTime datetime, IN p_Status varchar(50),
                                                      OUT p_CheckReturn int)
BEGIN
    DECLARE v_ReturnID INT DEFAULT 0;
    DECLARE v_CheckId INT;

    -- Transaction shuru
    START TRANSACTION;

    BEGIN
        -- ✅ INSERT (Save)
        IF p_Status = 'Save' THEN

            -- Check duplicate by ProductName and CompanyID
            SELECT COUNT(*) INTO v_CheckId
            FROM TBLProducts
            WHERE ProductName = p_ProductName AND CompanyID = p_CompanyID;

            IF v_CheckId > 0 THEN
                SET v_ReturnID = -3;  -- Duplicate Product
            ELSE
                INSERT INTO TBLProducts
                (ProductCode, ProductName, CompanyID, CategoryID, PackingTypeID, BrandID, ReorderLevel, IsActive, CreatedBy, CreatedDate)
                VALUES
                    (p_ProductCode, p_ProductName, p_CompanyID, p_CategoryID, p_PackingTypeID, p_BrandID, p_ReorderLevel, p_IsActive, p_UserID, p_DateTime);

                SET v_ReturnID = LAST_INSERT_ID(); -- Return new ProductID
            END IF;

            -- ✅ UPDATE
        ELSEIF p_Status = 'Update' THEN

            -- Check duplicate excluding current ProductID
            SELECT COUNT(*) INTO v_CheckId
            FROM TBLProducts
            WHERE ProductName = p_ProductName
              AND CompanyID = p_CompanyID
              AND ProductID <> p_ProductID;

            IF v_CheckId > 0 THEN
                SET v_ReturnID = -3;  -- Duplicate name
            ELSE
                UPDATE TBLProducts
                SET
                    ProductCode = p_ProductCode,
                    ProductName = p_ProductName,
                    CompanyID = p_CompanyID,
                    CategoryID = p_CategoryID,
                    PackingTypeID = p_PackingTypeID,
                    BrandID = p_BrandID,
                    ReorderLevel = p_ReorderLevel,
                    IsActive = p_IsActive,
                    UpdatedBy = p_UserID,
                    UpdatedDate = p_DateTime
                WHERE ProductID = p_ProductID;

                SET v_ReturnID = -1; -- Updated successfully
            END IF;

            -- ✅ DELETE
        ELSEIF p_Status = 'Delete' THEN

            -- Check if product exists before deleting
            SELECT COUNT(*) INTO v_CheckId
            FROM TBLProducts
            WHERE ProductID = p_ProductID;

            IF v_CheckId > 0 THEN
                -- Attempt to delete (Foreign Key constraints will handle linkages)
                DELETE FROM TBLProducts WHERE ProductID = p_ProductID;
                SET v_ReturnID = -2; -- Deleted successfully
            ELSE
                SET v_ReturnID = -4; -- Not found
            END IF;

        END IF;

        -- Final step: Set the output variable and commit/rollback
        SET p_CheckReturn = v_ReturnID;

        IF v_ReturnID > 0 OR v_ReturnID IN (-1, -2) THEN
            COMMIT;
        ELSE
            ROLLBACK;
        END IF;

    END;

END;

